<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.lib.book.service.Book-mapper">
	
	<select id="bookSerchList" parameterType="com.yd.lib.book.vo.BookVO" resultType="com.yd.lib.book.vo.BookVO" >
		select *
		from 
        	(SELECT ROW_NUMBER() OVER(PARTITION BY b1.book_isbn ORDER BY b1.book_num DESC ) AS RNUM, b1.* , b2.all_book_cnt , NVL(b3.can_book_cnt,0) as can_book_cnt
        	FROM book b1 
        	join (select book_isbn , COUNT(book_isbn) as all_book_cnt
				  from book
				  GROUP BY book_isbn
				  ) b2
        	on b1.book_isbn = b2.book_isbn
        	full join (select  book_isbn , count(book_isbn) as can_book_cnt
				  from book
				  where book_byn = 'Y'
				  group by book_isbn
				  ) b3
			on b1.book_isbn = b3.book_isbn
			where book_title like '%' || #{ book_Title } || '%' and book_aut like '%' || #{ book_Aut } || '%' and book_pub like '%' || #{ book_Pub } || '%'
			)bk
		where RNUM = 1
		order by
		<choose>
        	<when test="book_Order == 'book_title'">book_title asc</when>
        	<when test="book_Order == 'book_aut'">book_aut asc</when>
        	<when test="book_Order == 'book_location'">book_location asc</when>
        	<when test="book_Order == 'book_subject'">book_subject asc</when>
        <otherwise>book_num asc</otherwise>
    	</choose>
	</select>
	
	<select id="bookSerch" parameterType="com.yd.lib.book.vo.BookVO" resultType="com.yd.lib.book.vo.BookVO">
		select b.* ,return_duedate , yeyak_processing  from book b
		full join (
				   select * from history
				   where history.RETURN_DUEDATE in (
													select max(return_duedate) from HISTORY
													where book_num in (
																	   select book_num from book
																	   where book_isbn = #{book_Isbn}
																	   )
													group by book_num
													)
		                                          
				   ) h
		on b.book_num = h.book_num
		full join (
				   select * from yeyak
				   where yeyak.YEYAK_SUBMIT in(
											   select max(YEYAK_SUBMIT) from yeyak
											   where book_num in (
																  select book_num from book
																  where book_isbn = #{book_Isbn}
																  )
											   group by book_num
											   )
				   )y
		on b.book_num = y.book_num
		where book_isbn = #{book_Isbn}
	</select>
	
	
</mapper>