<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.lib.book.service.Book-mapper">
	
	<!-- 전체 책 정보 보기 -->
	<select id="bookSerchList" parameterType="com.yd.lib.book.vo.BookVO" resultType="com.yd.lib.book.vo.BookVO" >
		select *
		from 
        	(SELECT ROW_NUMBER() OVER(PARTITION BY b1.book_isbn ORDER BY b1.book_num DESC ) AS RNUM, b1.* , b2.all_book_cnt , NVL(b3.can_book_cnt,0) as can_book_cnt
        	FROM book b1 
        	join (select book_isbn , COUNT(book_isbn) as all_book_cnt
				  from book
				  GROUP BY book_isbn
				  ) b2
        	on b1.book_isbn = b2.book_isbn
        	full join (select  book_isbn , count(book_isbn) as can_book_cnt
				  from book
				  where book_byn = 'Y'
				  group by book_isbn
				  ) b3
			on b1.book_isbn = b3.book_isbn
			where book_title like '%' || #{ book_Title } || '%' and book_aut like '%' || #{ book_Aut } || '%' and book_pub like '%' || #{ book_Pub } || '%'
			)bk
		where RNUM = 1
		order by
		<choose>
        	<when test="book_Order == 'book_title'">book_title asc</when>
        	<when test="book_Order == 'book_aut'">book_aut asc</when>
        	<when test="book_Order == 'book_location'">book_location asc</when>
        	<when test="book_Order == 'book_subject'">book_subject asc</when>
        <otherwise>book_num asc</otherwise>
    	</choose>
	</select>
	
	<select id="bookSerchListPaging" parameterType="com.yd.lib.book.vo.BookVO" resultType="com.yd.lib.book.vo.BookVO" >
		select b.*
		from(
			 select rownum rn , a.*
			 from (
				   select * from (
                                  SELECT ROW_NUMBER() OVER(PARTITION BY b1.book_isbn ORDER BY b1.book_num DESC ) AS RNUM, b1.* , b2.all_book_cnt , NVL(b3.can_book_cnt,0) as can_book_cnt
                                  FROM book b1 
                                  join (
                                  		select book_isbn , COUNT(book_isbn) as all_book_cnt
										from book
										GROUP BY book_isbn
										) b2
                                  on b1.book_isbn = b2.book_isbn
                                  full join (
											 select  book_isbn , count(book_isbn) as can_book_cnt
											 from book
											 where book_byn = 'Y'
											 group by book_isbn
                                  ) b3
                                  on b1.book_isbn = b3.book_isbn
                                  where book_title like '%' || #{ book_Title } || '%' and book_aut like '%' || #{ book_Aut } || '%' and book_pub like '%' || #{ book_Pub } || '%'
                                  )bk
                where RNUM = 1
                order by
                <choose>
        			<when test="book_Order == 'book_title'">book_title asc</when>
        			<when test="book_Order == 'book_aut'">book_aut asc</when>
        			<when test="book_Order == 'book_location'">book_location asc</when>
        			<when test="book_Order == 'book_subject'">book_subject asc</when>
        			<otherwise>book_num asc</otherwise>
    			</choose>
                ) a
			 )b
		where rn between #{firstCnt} and #{lastCnt}
	</select>
	
	<select id="bookSerch" parameterType="com.yd.lib.book.vo.BookVO" resultType="com.yd.lib.book.vo.BookVO">
		select b.* ,return_duedate , yeyak_processing  from book b
		full join (
				   select * from history
				   where history.RETURN_DUEDATE in (
													select max(return_duedate) from HISTORY
													where book_num in (
																	   select book_num from book
																	   where book_isbn = #{book_Isbn}
																	   )
													group by book_num
													)
		                                          
				   ) h
		on b.book_num = h.book_num
		full join (
				   select * from yeyak
				   where yeyak.YEYAK_SUBMIT in(
											   select max(YEYAK_SUBMIT) from yeyak
											   where book_num in (
																  select book_num from book
																  where book_isbn = #{book_Isbn}
																  )
											   group by book_num
											   )
				   )y
		on b.book_num = y.book_num
		where book_isbn = #{book_Isbn}
	</select>
	
	<select id="userYeyakCheck" parameterType="com.yd.lib.users.vo.UsersVO" resultType="com.yd.lib.yeyak.vo.YeyakVO">
		select * from yeyak
		where user_id = #{user_Id} and (YEYAK_PROCESSING='예약중' or YEYAK_PROCESSING='예약신청')
	</select>
	
	<select id="newBook" parameterType="com.yd.lib.book.vo.BookVO" resultType="com.yd.lib.book.vo.BookVO">
		select * from (
					   SELECT ROW_NUMBER() OVER(PARTITION BY b1.book_isbn ORDER BY b1.book_num DESC ) AS RNUM, b1.* , b2.all_book_cnt , NVL(b3.can_book_cnt,0) as can_book_cnt
					   FROM book b1 
					   join (
							 select book_isbn , COUNT(book_isbn) as all_book_cnt
							 from book
							 GROUP BY book_isbn
					   ) b2
					   on b1.book_isbn = b2.book_isbn
					   full join (
								  select  book_isbn , count(book_isbn) as can_book_cnt
								  from book
								  where book_byn = 'Y'
								  group by book_isbn
					   ) b3
					   on b1.book_isbn = b3.book_isbn
					   where book_indate > sysdate - 30
					   )bk
		where RNUM = 1
		order by
		<choose>
			<otherwise>book_indate asc</otherwise>
		</choose>
	</select>
	
	<select id="newBookPaging" parameterType="com.yd.lib.book.vo.BookVO" resultType="com.yd.lib.book.vo.BookVO">
		select b.*
		from(
			 select rownum rn , a.*
			 from (
				   select * from (
                                  SELECT ROW_NUMBER() OVER(PARTITION BY b1.book_isbn ORDER BY b1.book_num DESC ) AS RNUM, b1.* , b2.all_book_cnt , NVL(b3.can_book_cnt,0) as can_book_cnt
                                  FROM book b1 
                                  join (
                                  		select book_isbn , COUNT(book_isbn) as all_book_cnt
										from book
										GROUP BY book_isbn
										) b2
                                  on b1.book_isbn = b2.book_isbn
                                  full join (
											 select  book_isbn , count(book_isbn) as can_book_cnt
											 from book
											 where book_byn = 'Y'
											 group by book_isbn
                                  ) b3
                                  on b1.book_isbn = b3.book_isbn
                                  where book_indate > sysdate - 30
                                  )bk
                where RNUM = 1
                order by
                <choose>
        			<otherwise>book_indate asc</otherwise>
    			</choose>
                ) a
			 )b
		where rn between #{firstCnt} and #{lastCnt}
	</select>
	
	<select id="bookBestTop10" resultType="com.yd.lib.book.vo.BookVO">
		<![CDATA[
		select * from(
					  select book.* , ROW_NUMBER() OVER(PARTITION BY book_isbn ORDER BY book_num asc ) AS RNUM
					  from book
					  where book_num in (
										 select book_num from(
															  select book_num , count(*) as cnt
															  from HISTORY
															  group by book_num
															  order by cnt desc
															  )
										 where ROWNUM < 11
										 )
					  )
		where rnum = 1
		order by book_num asc
		]]>
	</select>
	
	<select id="subjectBookBestTop10" parameterType="com.yd.lib.book.vo.BookVO" resultType="com.yd.lib.book.vo.BookVO">
		select * from(
					  select book.* , ROW_NUMBER() OVER(PARTITION BY book_isbn ORDER BY book_num asc ) AS RNUM
					  from book
					  where book_num in (
										 select book_num from(
															  select h.book_num , count(*) as cnt
															  from HISTORY h join BOOK b
															  on h.book_num = b.book_num
															  where b.book_subject = #{book_Subject}
															  group by h.book_num
															  order by cnt desc
															  )
										 <![CDATA[
										 where ROWNUM < 11
										 ]]>
										 )
					  )
		where rnum = 1
		order by book_num asc
	</select>
	<insert id="wishBookInsert" parameterType="com.yd.lib.wish.vo.WishVO">
		insert into wish values(#{user_Id} , #{wish_Title} , #{wish_Aut} , #{wish_pub} , null , null , #{wish_Bigo} , #{wish_Price} , sysdate ,'신청중' , wish_seq.nextval,null)
	</insert>
</mapper>