<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.lib.admins.serviceImpl.bookManage-mapper">
	<select id="bookManageList" resultType="com.yd.lib.book.vo.BookVO">
		select * from book
	</select>

	<select id="bookManageSelectOne" resultType="com.yd.lib.book.vo.BookVO">
		select * from book where book_Num = #{book_Num, jdbcType=VARCHAR}	
	</select>
</mapper>