<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.lib.admins.serviceImpl.yeyakManage-mapper">
	<select id="yeyakManageList" resultType="com.yd.lib.yeyak.vo.YeyakVO">
		select y.*, b.book_isbn from yeyak y
	    join book b on y.book_num=b.book_num 
	    order by y.yeyak_num
	</select>

	<update id="yeyakProcessUpdate" parameterType="com.yd.lib.yeyak.vo.YeyakVO">
		<choose>
			<when test="yeyak_Processing == '예약중'">
				update yeyak set yeyak_processing=#{yeyak_Processing}
				, yeyak_start = sysdate, yeyak_end = sysdate+(INTERVAL '2' day) 		
				where yeyak_num = #{yeyak_Num}			
			</when>
			<when test="yeyak_Processing == '예약신청'">
				update yeyak set yeyak_processing=#{yeyak_Processing}
				, yeyak_start = null, yeyak_end = null		
				where yeyak_num = #{yeyak_Num}
			</when>
			<when test="yeyak_Processing == '예약만료'">
				update yeyak set yeyak_processing=#{yeyak_Processing}
				, yeyak_end = sysdate		
				where yeyak_num = #{yeyak_Num}
			</when>
			<when test="yeyak_Processing == '예약취소'">
				update yeyak set yeyak_processing=#{yeyak_Processing}
				, yeyak_end = sysdate		
				where yeyak_num = #{yeyak_Num}
			</when>
		</choose>
	</update>
	
	<insert id="yeyakOneInsert" parameterType="com.yd.lib.yeyak.vo.YeyakVO">
		insert into yeyak values(yeyak_seq.nextval,#{book_Num},#{user_Id},sysdate,null,null,'예약신청')
	</insert>

	<select id="yeyakUserSearch" parameterType="com.yd.lib.users.vo.UsersVO" resultType="com.yd.lib.users.vo.UsersVO">
		select * from users
	</select>
	
	<select id="yeyakCheck" parameterType="com.yd.lib.yeyak.vo.YeyakVO" resultType="com.yd.lib.yeyak.vo.YeyakVO">
	    select y.*,b.book_isbn from yeyak y
	 	join book b on y.book_num=b.book_num 
		where y.user_id = #{user_Id} and y.yeyak_processing in('예약신청','예약중')
	</select>

	<select id="yeyakCntChk" parameterType="com.yd.lib.yeyak.vo.YeyakVO" resultType="int">
	    select count(*) from yeyak
		where YEYAK_PROCESSING in('예약신청','예약중')
		and user_id = #{user_Id}
	</select>
</mapper>
