<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.lib.seat.service.seat-mapper">
	<!-- 좌석정보 확인 -->
	<select id="seatList" resultType="com.yd.lib.seat.vo.SeatroomVO">
		select s.*, r.* from seat s
		left join SEATROOM r on s.seat_num = r.seat_num
		order by s.seat_num
	</select>
	
	<select id="userSeatSelect" parameterType="com.yd.lib.users.vo.UsersVO" resultType="com.yd.lib.seat.vo.SeatroomVO">
		select * from seat s
		left join SEATROOM r on s.seat_num = r.seat_num
		where r.user_id = #{user_Id}
	</select>
	
	<insert id="seatOneInsert" parameterType="com.yd.lib.seat.vo.SeatroomVO">
		insert into SEATROOM
		values(seat_pick_seq.nextval,
		#{user_Id},
		#{seat_Num},
		to_date('#{today}','YYYY/MM/DD hh:mi:ss'),
		to_date('#{today}','YYYY/MM/DD hh:mi:ss'),
		to_date('#{today}','YYYY/MM/DD hh:mi:ss') + (interval '3' hour)) 
	</insert>
</mapper>