<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.lib.users.serviceImpl.user-mapper">
	
	<select id="loginCheck" parameterType="com.yd.lib.users.vo.UsersVO" resultType="com.yd.lib.users.vo.UsersVO" >
		select * from users where user_id = #{user_Id} and user_pw = #{user_Pw} and not user_Gubun = '삭제 회원'
	</select>
	
	<insert id="userJoin" parameterType="hashmap" >
		insert into users values(#{user_Id},#{user_Name},#{user_Pw},'준회원',#{user_Gender},#{user_Birth},#{user_Phone},#{user_Addr},#{user_Email})
	</insert>
	
	
	<select id="emailCheck" parameterType="string" resultType="com.yd.lib.users.vo.UsersVO" >
		select * from users where user_email = #{p}
	</select>
	
	<select id="telCheck" parameterType="string" resultType="com.yd.lib.users.vo.UsersVO" >
		select * from users where user_phone = #{p}
	</select>
	
	<select id="idCheck" parameterType="string" resultType="com.yd.lib.users.vo.UsersVO" >
		select * from users where user_id = #{p}
	</select>


	<update id="userPwUpdate" parameterType="hashmap">
		update users set user_pw=#{user_Pw} where user_id=#{user_Id}
	</update>
	
	<update id="userEmailUpdate" parameterType="hashmap">
		update users set user_Email=#{user_Email} where user_Id=#{user_Id}
	</update>
	
	<update id="userPhoneUpdate" parameterType="hashmap">
		update users set user_Phone=#{user_Phone} where user_Id=#{user_Id}
	</update>
	
	<update id="userAddrUpdate" parameterType="hashmap">
		update users set user_Addr=#{user_Addr} where user_Id=#{user_Id}
	</update>
	
	
	
	
</mapper>